.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: rem-calc(223) rem-calc(16) 0 rem-calc(16);
  gap: get-spacing('spacing-3xl');
  
  @include md {
    padding: rem-calc(298) rem-calc(140) rem-calc(199) rem-calc(140);
    gap: get-spacing('spacing-6xl');
  }

  .background {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: rem-calc(345);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, transparent 100%);
      z-index: 1;

      @include md {
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, transparent 100%);
      }
    }

    @include md {
      height: rem-calc(810);
      filter: brightness(0.74);
    }
  }

  .textBlock {
    display: flex;
    flex-direction: column;
    gap: get-spacing('spacing-sm');

    @include md {
      width: rem-calc(635);
    }

    @include md {
      gap: get-spacing('spacing-xl');
    }

    .title {
      @include typography('display-xs', 'bold');
      color: get-color('neutral', 25);

      @include md {
        @include typography('display-2xl', 'bold');
      }
    }

    .overview {
      @include typography('text-sm', 'regular');
      color: get-color('neutral', 400);

      @include md {
        @include typography('text-md', 'regular');
      }
    }
  }

  .actionsBlock {
    display: flex;
    flex-direction: column;
    gap: get-spacing('spacing-xl');

    @include md {
      flex-direction: row;
      width: rem-calc(476);
    }
  }
}
