.card {
    display: flex;
    flex-direction: column;
    width: rem-calc(173);
    height: rem-calc(334);
    gap: rem-calc(8);
    margin: rem-calc(100) auto; // debug only

    @include md {
        width: rem-calc(216);
        height: rem-calc(397);
        gap: rem-calc(12);
    }

    .imageWrapper {
        position: relative;
        width: rem-calc(173);
        height: rem-calc(266);
        border-radius: get-radius('radius-md');
        overflow: hidden;

        @include md {
            width: rem-calc(216);
            height: rem-calc(321);
            border-radius: ('radius-xl');
        }
    
        .image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .trendingBadge { // pr
            position: absolute;
            background-color: #0A0D1299;
            display: flex;
            width: rem-calc(32);
            height: rem-calc(32);
            border-radius: 50%;
            top: rem-calc(8);
            left: rem-calc(8);
            padding: rem-calc(4.75);
            gap: rem-calc(4.75);
            align-items: center;
            justify-content: center;
            color: get-color('neutral', 25);
            @include typography('text-sm', 'semibold');

            @include md {
                width: rem-calc(48);
                height: rem-calc(48);
                top: rem-calc(12);
                left: rem-calc(12);
                padding: rem-calc(6.86);
                gap: rem-calc(6.86);
                @include typography('text-lg', 'semibold');
            }
        }
    }

    .title {
        color: get-color('neutral', 25);
        @include typography('text-md', 'semibold');

        @include md {
            @include typography('text-lg', 'semibold');
        }
    }

    .rating {
        display: flex;
        align-items: center;
        gap: rem-calc(4);
        color: get-color('neutral', 400);
        @include typography('text-sm', 'regular');

        @include md {
            @include typography('text-md', 'regular');
        }
    }

    .starIcon {
        width: rem-calc(18);
        height: rem-calc(18);
        
        @include md {
            width: rem-calc(20);
            height: rem-calc(20);
        }
    }
}
  