.tes {
    color: get-color('base', 'white');
    @include typography('display-xl', 'extrabold');
}

.box {
    width: rem-calc(40);
    height: rem-calc(40);
    background-color: get-color('base', 'white');
    border-radius: get-radius('radius-xl');
    margin-left: get-spacing('spacing-11xl');
    margin-top: get-spacing('spacing-11xl');
}