.favoriteWrapper {
  padding: rem-calc(0) rem-calc(16);

  @include md {
    padding: rem-calc(0) rem-calc(140);
  }

  .title {
    padding-top: rem-calc(88);
    color: get-color('neutral', 25);
    @include typography('display-xs', 'bold');

    @include md {
      padding-top: rem-calc(154);
      @include typography('display-lg', 'bold');
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: get-spacing('spacing-3xl');
    padding: rem-calc(84) rem-calc(0) rem-calc(150) rem-calc(0);

    @include md {
      padding-top: rem-calc(104);
    }

    .desc {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: get-spacing('spacing-lg');

      @include md {
        gap: get-spacing('spacing-xl');
      }

      .svgIcon {
        width: rem-calc(200);
        height: rem-calc(200);
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: get-spacing('spacing-md');
        text-align: center;

        .empty {
          color: get-color('neutral', 25);
          @include typography('text-md', 'semibold');
        }

        .subTitle {
          color: get-color('neutral', 400);
          @include typography('text-sm', 'regular');
        }
      }
    }

    .ctaButton {
      width: rem-calc(200);

      @include md {
        width: rem-calc(300);
      }
    }
  }
}
